button {
  padding: 6px 10px;
  border: 1px solid #e6dca7;
  background-color: #fffbe6;
  color: #bfa600;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.2s, color 0.2s;
}

button:hover {
  background-color: #f7e9b0;
  color: #222;
}

.rankButton:disabled {
  background-color: #545151;
  cursor: not-allowed;
}
.rankButton:disabled:hover {
  background-color: #545151;
  color: #003366;
}
