.footer {
    background: #00b4d8;
    color: #222;
    border-top: 2px solid #90caf9;
    padding: 8px 0;
    text-align: center;
    font-weight: bold;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  
  .footer a {
    color: #bfa600;
  }
  
  .footer a:hover {
    color: #222;
    background: #f7e9b0;
  }